.bg-s-cover { background-size: cover; }
.bg-s-contain { background-size: contain; }

@include mobile {
  .bg-s-cover-mobile { background-size: cover; }
  .bg-s-contain-mobile { background-size: contain; }
}

@include tablet {
  .bg-s-cover-tablet { background-size: cover; }
  .bg-s-contain-tablet { background-size: contain; }
}

@include tablet-only {
  .bg-s-cover-tablet-only { background-size: cover; }
  .bg-s-contain-tablet-only { background-size: contain; }
}

@include desktop {
  .bg-s-cover-desktop { background-size: cover; }
  .bg-s-contain-desktop { background-size: contain; }
}

@include desktop-only {
  .bg-s-cover-desktop-only { background-size: cover; }
  .bg-s-contain-desktop-only { background-size: contain; }
}

@include widescreen {
  .bg-s-cover-widescreen { background-size: cover; }
  .bg-s-contain-widescreen { background-size: contain; }
}
