@each $key, $value in $color-value {
  .bd-cl-#{$key} { border-color: #{$value}; }
}

@include mobile {
  @each $key, $value in $color-value {
    .bd-cl-#{$key}-mobile { border-color: #{$value}; }
  }
}

@include tablet {
  @each $key, $value in $color-value {
    .bd-cl-#{$key}-tablet { border-color: #{$value}; }
  } 
}

@include tablet-only {
  @each $key, $value in $color-value {
    .bd-cl-#{$key}-tablet-only { border-color: #{$value}; }
  } 
}

@include desktop {
  @each $key, $value in $color-value {
    .bd-cl-#{$key}-desktop { border-color: #{$value}; }
  }
}

@include desktop-only {
  @each $key, $value in $color-value {
    .bd-cl-#{$key}-desktop-only { border-color: #{$value}; }
  }
}

@include widescreen {
  @each $key, $value in $color-value {
    .bd-cl-#{$key}-widescreen { border-color: #{$value}; }
  }
}
