@each $key, $value in $border-radius-width-value {
  .bd-w-#{$key} { border-width: #{$value} !important; }
  .bd-t-w-#{$key} { border-top-width: #{$value} !important; }
  .bd-bt-w-#{$key} { border-bottom-width: #{$value} !important; }
  .bd-l-w-#{$key} { border-left-width: #{$value} !important; }
  .bd-r-w-#{$key} { border-right-width: #{$value}; }
  .bd-vtc-w-#{$key} { border-top-width: #{$value}; border-bottom-width: #{$value} !important; }
  .bd-hrzt-w-#{$key} { border-left-width: #{$value}; border-right-width: #{$value} !important; }
};


@include mobile {
  @each $key, $value in $border-radius-width-value {
    .bd-w-#{$key}-mobile { border-width: #{$value} !important; }
    .bd-t-w-#{$key}-mobile { border-top-width: #{$value} !important; }
    .bd-bt-w-#{$key}-mobile { border-bottom-width: #{$value} !important; }
    .bd-l-w-#{$key}-mobile { border-left-width: #{$value} !important; }
    .bd-r-w-#{$key}-mobile { border-right-width: #{$value} !important; }
    .bd-vtc-w-#{$key}-mobile { border-top-width: #{$value} !important; border-bottom-width: #{$value} !important; }
    .bd-hrzt-w-#{$key}-mobile { border-left-width: #{$value} !important; border-right-width: #{$value} !important; }
  };
};

@include tablet {
  @each $key, $value in $border-radius-width-value {
    .bd-w-#{$key}-tablet { border-width: #{$value} !important; }
    .bd-t-w-#{$key}-tablet { border-top-width: #{$value} !important; }
    .bd-bt-w-#{$key}-tablet { border-bottom-width: #{$value} !important; }
    .bd-l-w-#{$key}-tablet { border-left-width: #{$value} !important; }
    .bd-r-w-#{$key}-tablet { border-right-width: #{$value} !important; }
    .bd-vtc-w-#{$key}-tablet { border-top-width: #{$value} !important; border-bottom-width: #{$value} !important; }
    .bd-hrzt-w-#{$key}-tablet { border-left-width: #{$value} !important; border-right-width: #{$value} !important; }
  };
};

@include tablet-only {
  @each $key, $value in $border-radius-width-value {
    .bd-w-#{$key}-tablet-only { border-width: #{$value} !important; }
    .bd-t-w-#{$key}-tablet-only { border-top-width: #{$value} !important; }
    .bd-bt-w-#{$key}-tablet-only { border-bottom-width: #{$value} !important; }
    .bd-l-w-#{$key}-tablet-only { border-left-width: #{$value} !important; }
    .bd-r-w-#{$key}-tablet-only { border-right-width: #{$value} !important; }
    .bd-vtc-w-#{$key}-tablet-only { border-top-width: #{$value} !important; border-bottom-width: #{$value} !important; }
    .bd-hrzt-w-#{$key}-tablet-only { border-left-width: #{$value} !important; border-right-width: #{$value} !important; }
  };
};

@include desktop {
  @each $key, $value in $border-radius-width-value {
    .bd-w-#{$key}-desktop { border-width: #{$value} !important; }
    .bd-t-w-#{$key}-desktop { border-top-width: #{$value} !important; }
    .bd-bt-w-#{$key}-desktop { border-bottom-width: #{$value} !important; }
    .bd-l-w-#{$key}-desktop { border-left-width: #{$value} !important; }
    .bd-r-w-#{$key}-desktop { border-right-width: #{$value} !important; }
    .bd-vtc-w-#{$key}-desktop { border-top-width: #{$value} !important; border-bottom-width: #{$value} !important; }
    .bd-hrzt-w-#{$key}-desktop { border-left-width: #{$value} !important; border-right-width: #{$value} !important; }
  };
};
