.w-auto { width: auto !important; }
.h-auto { height: auto !important; }
.m-w-auto { max-width: auto !important; }

@for $i from 0 through 100 {
  .w-#{$i}px { width: #{$i}px !important; }
  .h-#{$i}px { height: #{$i}px !important; }
  .m-w-#{$i}px { max-width: #{$i}px !important; }

  .w-#{$i}pct { width: #{$i+'%'} !important; }
  .h-#{$i}pct { height: #{$i+'%'} !important; }
  .m-w-#{$i}pct { max-width: #{$i+'%'} !important; }
};

@include mobile {
  .w-auto-mobile { width: auto !important; }
  .h-auto-mobile { height: auto  !important; }
  .m-w-auto-mobile { max-width: auto !important; }

  @for $i from 0 through 100 {
    .w-#{$i}px-mobile { width: #{$i}px !important; }
    .h-#{$i}px-mobile { height: #{$i}px !important; }
    .m-w-#{$i}px-mobile { max-width: #{$i}px !important; }

    .w-#{$i}pct-mobile { width: #{$i+'%'} !important; }
    .h-#{$i}pct-mobile { height: #{$i+'%'} !important; }
    .m-w-#{$i}pct-mobile { max-width: #{$i+'%'} !important; }
  };
};

@include tablet {
  .w-auto-tablet { width: auto !important; }
  .h-auto-tablet { height: auto !important; }
  .m-w-auto-tablet { max-width: auto !important; }

  @for $i from 0 through 100 {
    .w-#{$i}px-tablet { width: #{$i}px !important; }
    .h-#{$i}px-tablet { height: #{$i}px !important; }
    .m-w-#{$i}px-tablet { max-width: #{$i}px !important; }

    .w-#{$i}pct-tablet { width: #{$i+'%'} !important; }
    .h-#{$i}pct-tablet { height: #{$i+'%'} !important; }
    .m-w-#{$i}pct-tablet { max-width: #{$i+'%'} !important; }
  };
};

@include tablet-only {
  .w-auto-tablet-only { width: auto !important; }
  .h-auto-tablet-only { height: auto !important; }
  .m-w-auto-tablet-only { max-width: auto !important; }

  @for $i from 0 through 100 {
    .w-#{$i}px-tablet-only { width: #{$i}px !important; }
    .h-#{$i}px-tablet-only { height: #{$i}px !important; }
    .m-w-#{$i}px-tablet-only { max-width: #{$i}px !important; }

    .w-#{$i}pct-tablet-only { width: #{$i+'%'} !important; }
    .h-#{$i}pct-tablet-only { height: #{$i+'%'} !important; }
    .m-w-#{$i}pct-tablet-only { max-width: #{$i+'%'} !important; }
  };
};

@include desktop {
  .w-auto-desktop { width: auto !important; }
  .h-auto-desktop { height: auto !important; }
  .m-w-auto-desktop { max-width: auto !important; }

  @for $i from 0 through 100 {
    .w-#{$i}px-desktop { width: #{$i}px !important; }
    .h-#{$i}px-desktop { height: #{$i}px !important; }
    .m-w-#{$i}px-desktop { max-width: #{$i}px !important; }

    .w-#{$i}pct-desktop { width: #{$i+'%'} !important; }
    .h-#{$i}pct-desktop { height: #{$i+'%'} !important; }
    .m-w-#{$i}pct-desktop { max-width: #{$i+'%'} !important; }
  };
};

@include desktop-only {
  .w-auto-desktop-only { width: auto !important; }
  .h-auto-desktop-only { height: auto !important; }
  .m-w-auto-desktop-only { max-width: auto !important; }

  @for $i from 0 through 100 {
    .w-#{$i}px-desktop-only { width: #{$i}px !important; }
    .h-#{$i}px-desktop-only { height: #{$i}px !important; }
    .m-w-#{$i}px-desktop-only { max-width: #{$i}px !important; }

    .w-#{$i}pct-desktop-only { width: #{$i+'%'} !important; }
    .h-#{$i}pct-desktop-only { height: #{$i+'%'} !important; }
    .m-w-#{$i}pct-desktop-only { max-width: #{$i+'%'} !important; }
  };
};

@include widescreen {
  .w-auto-widescreen { width: auto !important; }
  .h-auto-widescreen { height: auto !important; }
  .m-w-auto-widescreen { max-width: auto !important; }

  @for $i from 0 through 100 {
    .w-#{$i}px-widescreen { width: #{$i}px !important; }
    .h-#{$i}px-widescreen { height: #{$i}px !important; }
    .m-w-#{$i}px-widescreen { max-width: #{$i}px !important; }

    .w-#{$i}pct-widescreen { width: #{$i+'%'} !important; }
    .h-#{$i}pct-widescreen { height: #{$i+'%'} !important; }
    .m-w-#{$i}pct-widescreen { max-width: #{$i+'%'} !important; }
  };
};