.w-auto { width: auto !important; }
.h-auto { height: auto !important; }
.m-w-auto { max-width: auto !important; }
.m-h-auto { max-height: auto !important; }

@for $i from 0 through 100 {
  .w-#{$i}px { width: #{$i}px !important; }
  .h-#{$i}px { height: #{$i}px !important; }
  .m-w-#{$i}px { max-width: #{$i}px !important; }
  .m-h-#{$i}px { max-height: #{$i}px !important; }

  .w-#{$i}pct { width: #{$i+'%'} !important; }
  .h-#{$i}pct { height: #{$i+'%'} !important; }
  .m-w-#{$i}pct { max-width: #{$i+'%'} !important; }
  .m-h-#{$i}pct { max-height: #{$i+'%'} !important; }

  .w-#{$i}vw { width: #{$i+'vw'} !important; }
  .h-#{$i}vh { height: #{$i+'vh'} !important; }
  .m-w-#{$i}vw { max-width: #{$i+'vw'} !important; }
  .m-h-#{$i}vh { max-height: #{$i+'vh'} !important; }

  .w-#{$i}calc { width: calc(100vw - #{$i+'px'}) !important; }
  .h-#{$i}calc { height: calc(100vh - #{$i+'px'}) !important; }
  .m-w-#{$i}calc { max-width: calc(100vw - #{$i+'px'}) !important; }
  .m-h-#{$i}calc { max-height: calc(100vh - #{$i+'px'}) !important; }
};

@include mobile {
  .w-auto-mobile { width: auto !important; }
  .h-auto-mobile { height: auto  !important; }
  .m-w-auto-mobile { max-width: auto !important; }
  .m-h-auto-mobile { max-height: auto !important; }

  @for $i from 0 through 100 {
    .w-#{$i}px-mobile { width: #{$i}px !important; }
    .h-#{$i}px-mobile { height: #{$i}px !important; }
    .m-w-#{$i}px-mobile { max-width: #{$i}px !important; }
    .m-h-#{$i}px-mobile { max-height: #{$i}px !important; }

    .w-#{$i}pct-mobile { width: #{$i+'%'} !important; }
    .h-#{$i}pct-mobile { height: #{$i+'%'} !important; }
    .m-w-#{$i}pct-mobile { max-width: #{$i+'%'} !important; }
    .m-h-#{$i}pct-mobile { max-height: #{$i+'%'} !important; }

    .w-#{$i}vw-mobile { width: #{$i+'vw'} !important; }
    .h-#{$i}vh-mobile { height: #{$i+'vh'} !important; }
    .m-w-#{$i}vw-mobile { max-width: #{$i+'vw'} !important; }
    .m-h-#{$i}vh-mobile { max-height: #{$i+'vh'} !important; }

    .w-#{$i}calc-mobile { width: calc(100vw - #{$i+'px'}) !important; }
    .h-#{$i}calc-mobile { height: calc(100vh - #{$i+'px'}) !important; }
    .m-w-#{$i}calc-mobile { max-width: calc(100vw - #{$i+'px'}) !important; }
    .m-h-#{$i}calc-mobile { max-height: calc(100vh - #{$i+'px'}) !important; }
  };
};

@include tablet {
  .w-auto-tablet { width: auto !important; }
  .h-auto-tablet { height: auto !important; }
  .m-w-auto-tablet { max-width: auto !important; }
  .m-h-auto-tablet { max-height: auto !important; }

  @for $i from 0 through 100 {
    .w-#{$i}px-tablet { width: #{$i}px !important; }
    .h-#{$i}px-tablet { height: #{$i}px !important; }
    .m-w-#{$i}px-tablet { max-width: #{$i}px !important; }
    .m-h-#{$i}px-tablet { max-height: #{$i}px !important; }

    .w-#{$i}pct-tablet { width: #{$i+'%'} !important; }
    .h-#{$i}pct-tablet { height: #{$i+'%'} !important; }
    .m-w-#{$i}pct-tablet { max-width: #{$i+'%'} !important; }
    .m-h-#{$i}pct-tablet { max-height: #{$i+'%'} !important; }

    .w-#{$i}vw-tablet { width: #{$i+'vw'} !important; }
    .h-#{$i}vh-tablet { height: #{$i+'vh'} !important; }
    .m-w-#{$i}vw-tablet { max-width: #{$i+'vw'} !important; }
    .m-h-#{$i}vh-tablet { max-height: #{$i+'vh'} !important; }

    .w-#{$i}calc-tablet { width: calc(100vw - #{$i+'px'}) !important; }
    .h-#{$i}calc-tablet { height: calc(100vh - #{$i+'px'}) !important; }
    .m-w-#{$i}calc-tablet { max-width: calc(100vw - #{$i+'px'}) !important; }
    .m-h-#{$i}calc-tablet { max-height: calc(100vh - #{$i+'px'}) !important; }
  };
};

@include tablet-only {
  .w-auto-tablet-only { width: auto !important; }
  .h-auto-tablet-only { height: auto !important; }
  .m-w-auto-tablet-only { max-width: auto !important; }
  .m-h-auto-tablet-only { max-height: auto !important; }

  @for $i from 0 through 100 {
    .w-#{$i}px-tablet-only { width: #{$i}px !important; }
    .h-#{$i}px-tablet-only { height: #{$i}px !important; }
    .m-w-#{$i}px-tablet-only { max-width: #{$i}px !important; }
    .m-h-#{$i}px-tablet-only { max-height: #{$i}px !important; }

    .w-#{$i}pct-tablet-only { width: #{$i+'%'} !important; }
    .h-#{$i}pct-tablet-only { height: #{$i+'%'} !important; }
    .m-w-#{$i}pct-tablet-only { max-width: #{$i+'%'} !important; }
    .m-h-#{$i}pct-tablet-only { max-height: #{$i+'%'} !important; }

    .w-#{$i}vw-tablet-only { width: #{$i+'vw'} !important; }
    .h-#{$i}vh-tablet-only { height: #{$i+'vh'} !important; }
    .m-w-#{$i}vw-tablet-only { max-width: #{$i+'vw'} !important; }
    .m-h-#{$i}vh-tablet-only { max-height: #{$i+'vh'} !important; }

    .w-#{$i}calc-tablet-only { width: calc(100vw - #{$i+'px'}) !important; }
    .h-#{$i}calc-tablet-only { height: calc(100vh - #{$i+'px'}) !important; }
    .m-w-#{$i}calc-tablet-only { max-width: calc(100vw - #{$i+'px'}) !important; }
    .m-h-#{$i}calc-tablet-only { max-height: calc(100vh - #{$i+'px'}) !important; }
  };
};

@include desktop {
  .w-auto-desktop { width: auto !important; }
  .h-auto-desktop { height: auto !important; }
  .m-w-auto-desktop { max-width: auto !important; }
  .m-h-auto-desktop { max-height: auto !important; }

  @for $i from 0 through 100 {
    .w-#{$i}px-desktop { width: #{$i}px !important; }
    .h-#{$i}px-desktop { height: #{$i}px !important; }
    .m-w-#{$i}px-desktop { max-width: #{$i}px !important; }
    .m-h-#{$i}px-desktop { max-height: #{$i}px !important; }

    .w-#{$i}pct-desktop { width: #{$i+'%'} !important; }
    .h-#{$i}pct-desktop { height: #{$i+'%'} !important; }
    .m-w-#{$i}pct-desktop { max-width: #{$i+'%'} !important; }
    .m-h-#{$i}pct-desktop { max-height: #{$i+'%'} !important; }

    .w-#{$i}vw-desktop { width: #{$i+'vw'} !important; }
    .h-#{$i}vh-desktop { height: #{$i+'vh'} !important; }
    .m-w-#{$i}vw-desktop { max-width: #{$i+'vw'} !important; }
    .m-h-#{$i}vh-desktop { max-height: #{$i+'vh'} !important; }

    .w-#{$i}calc-desktop { width: calc(100vw - #{$i+'px'}) !important; }
    .h-#{$i}calc-desktop { height: calc(100vh - #{$i+'px'}) !important; }
    .m-w-#{$i}calc-desktop { max-width: calc(100vw - #{$i+'px'}) !important; }
    .m-h-#{$i}calc-desktop { max-height: calc(100vh - #{$i+'px'}) !important; }
  };
};

@include desktop-only {
  .w-auto-desktop-only { width: auto !important; }
  .h-auto-desktop-only { height: auto !important; }
  .m-w-auto-desktop-only { max-width: auto !important; }
  .m-h-auto-desktop-only { max-height: auto !important; }

  @for $i from 0 through 100 {
    .w-#{$i}px-desktop-only { width: #{$i}px !important; }
    .h-#{$i}px-desktop-only { height: #{$i}px !important; }
    .m-w-#{$i}px-desktop-only { max-width: #{$i}px !important; }
    .m-h-#{$i}px-desktop-only { max-height: #{$i}px !important; }

    .w-#{$i}pct-desktop-only { width: #{$i+'%'} !important; }
    .h-#{$i}pct-desktop-only { height: #{$i+'%'} !important; }
    .m-w-#{$i}pct-desktop-only { max-width: #{$i+'%'} !important; }
    .m-h-#{$i}pct-desktop-only { max-height: #{$i+'%'} !important; }

    .w-#{$i}vw-desktop-only { width: #{$i+'vw'} !important; }
    .h-#{$i}vh-desktop-only { height: #{$i+'vh'} !important; }
    .m-w-#{$i}vw-desktop-only { max-width: #{$i+'vw'} !important; }
    .m-h-#{$i}vh-desktop-only { max-height: #{$i+'vh'} !important; }

    .w-#{$i}calc-desktop-only { width: calc(100vw - #{$i+'px'}) !important; }
    .h-#{$i}calc-desktop-only { height: calc(100vh - #{$i+'px'}) !important; }
    .m-w-#{$i}calc-desktop-only { max-width: calc(100vw - #{$i+'px'}) !important; }
    .m-h-#{$i}calc-desktop-only { max-height: calc(100vh - #{$i+'px'}) !important; }
  };
};

@include widescreen {
  .w-auto-widescreen { width: auto !important; }
  .h-auto-widescreen { height: auto !important; }
  .m-w-auto-widescreen { max-width: auto !important; }
  .m-h-auto-widescreen { max-height: auto !important; }

  @for $i from 0 through 100 {
    .w-#{$i}px-widescreen { width: #{$i}px !important; }
    .h-#{$i}px-widescreen { height: #{$i}px !important; }
    .m-w-#{$i}px-widescreen { max-width: #{$i}px !important; }
    .m-h-#{$i}px-widescreen { max-height: #{$i}px !important; }

    .w-#{$i}pct-widescreen { width: #{$i+'%'} !important; }
    .h-#{$i}pct-widescreen { height: #{$i+'%'} !important; }
    .m-w-#{$i}pct-widescreen { max-width: #{$i+'%'} !important; }
    .m-h-#{$i}pct-widescreen { max-height: #{$i+'%'} !important; }

    .w-#{$i}vw-widescreen { width: #{$i+'vw'} !important; }
    .h-#{$i}vh-widescreen { height: #{$i+'vh'} !important; }
    .m-w-#{$i}vw-widescreen { max-width: #{$i+'vw'} !important; }
    .m-h-#{$i}vh-widescreen { max-height: #{$i+'vh'} !important; }

    .w-#{$i}calc-widescreen { width: calc(100vw - #{$i+'px'}) !important; }
    .h-#{$i}calc-widescreen { height: calc(100vh - #{$i+'px'}) !important; }
    .m-w-#{$i}calc-widescreen { max-width: calc(100vw - #{$i+'px'}) !important; }
    .m-h-#{$i}calc-widescreen { max-height: calc(100vh - #{$i+'px'}) !important; }
  };
};