.f-w-nowrap { flex-wrap: nowrap !important; }
.f-w-wrap { flex-wrap: wrap !important; }
.f-w-wrap-reverse { flex-wrap: wrap-reverse !important; }

@include mobile {
  .f-w-nowrap-mobile { flex-wrap: nowrap !important; }
  .f-w-wrap-mobile { flex-wrap: wrap !important; }
  .f-w-wrap-reverse-mobile { flex-wrap: wrap-reverse !important; }
};

@include tablet {
  .f-w-nowrap-tablet { flex-wrap: nowrap !important; }
  .f-w-wrap-tablet { flex-wrap: wrap !important; }
  .f-w-wrap-reverse-tablet { flex-wrap: wrap-reverse !important; }
};

@include tablet-only {
  .f-w-nowrap-tablet-only { flex-wrap: nowrap !important; }
  .f-w-wrap-tablet-only { flex-wrap: wrap !important; }
  .f-w-wrap-reverse-tablet-only { flex-wrap: wrap-reverse !important; }
};

@include desktop {
  .f-w-nowrap-desktop { flex-wrap: nowrap !important; }
  .f-w-wrap-desktop { flex-wrap: wrap !important; }
  .f-w-wrap-reverse-desktop { flex-wrap: wrap-reverse !important; }
};

@include desktop-only {
  .f-w-nowrap-desktop-only { flex-wrap: nowrap !important; }
  .f-w-wrap-desktop-only { flex-wrap: wrap !important; }
  .f-w-wrap-reverse-desktop-only { flex-wrap: wrap-reverse !important; }
};

@include widescreen {
  .f-w-nowrap-widescreen { flex-wrap: nowrap !important; }
  .f-w-wrap-widescreen { flex-wrap: wrap !important; }
  .f-w-wrap-reverse-widescreen { flex-wrap: wrap-reverse !important; }
};