.f-drt-row { flex-direction: row !important; }
.f-drt-row-reverse { flex-direction: row-reverse !important; }
.f-drt-column { flex-direction: column !important; }
.f-drt-column-reverse { flex-direction: column-reverse !important; }

@include mobile {
  .f-drt-row-mobile { flex-direction: row !important; }
  .f-drt-row-reverse-mobile { flex-direction: row-reverse !important; }
  .f-drt-column-mobile { flex-direction: column !important; }
  .f-drt-column-reverse-mobile { flex-direction: column-reverse !important; }
};

@include tablet {
  .f-drt-row-tablet { flex-direction: row !important; }
  .f-drt-row-reverse-tablet { flex-direction: row-reverse !important; }
  .f-drt-column-tablet { flex-direction: column !important; }
  .f-drt-column-reverse-tablet { flex-direction: column-reverse !important; }
};

@include tablet-only {
  .f-drt-row-tablet-only { flex-direction: row !important; }
  .f-drt-row-reverse-tablet-only { flex-direction: row-reverse !important; }
  .f-drt-column-tablet-only { flex-direction: column !important; }
  .f-drt-column-reverse-tablet-only { flex-direction: column-reverse !important; }
};

@include desktop {
  .f-drt-row-desktop { flex-direction: row !important; }
  .f-drt-row-reverse-desktop { flex-direction: row-reverse !important; }
  .f-drt-column-desktop { flex-direction: column !important; }
  .f-drt-column-reverse-desktop { flex-direction: column-reverse !important; }
};
