.f-bs-auto { flex-basis: auto !important; }

@include mobile {
  .f-bs-auto { flex-basis: auto !important; }
};

@include tablet {
  .f-bs-auto { flex-basis: auto !important; }
};

@include tablet-only {
  .f-bs-auto { flex-basis: auto !important; }
};

@include desktop {
  .f-bs-auto { flex-basis: auto !important; }
};
