.f-bs-auto { flex-basis: auto !important; }
@for $i from 0 through 300 {
  .f-bs-#{$i}px { flex-basis: #{$i}px !important; }
};

@include mobile {
  .f-bs-auto { flex-basis: auto !important; }
  @for $i from 0 through 300 {
    .f-bs-#{$i}px-mobile { flex-basis: #{$i}px !important; }
  };
};

@include tablet {
  .f-bs-auto { flex-basis: auto !important; }
  @for $i from 0 through 300 {
    .f-bs-#{$i}px-tablet { flex-basis: #{$i}px !important; }
  };
};

@include tablet-only {
  .f-bs-auto { flex-basis: auto !important; }
  @for $i from 0 through 300 {
    .f-bs-#{$i}px-tablet-only { flex-basis: #{$i}px !important; }
  };
};

@include desktop {
  .f-bs-auto { flex-basis: auto !important; }
  @for $i from 0 through 300 {
    .f-bs-#{$i}px-desktop { flex-basis: #{$i}px !important; }
  };
};

@include desktop-only {
  .f-bs-auto { flex-basis: auto !important; }
  @for $i from 0 through 300 {
    .f-bs-#{$i}px-desktop-only { flex-basis: #{$i}px !important; }
  };
};

@include widescreen {
  .f-bs-auto { flex-basis: auto !important; }
  @for $i from 0 through 300 {
    .f-bs-#{$i}px-widescreen { flex-basis: #{$i}px !important; }
  };
};