.flx-drt-row { flex-direction: row; }
.flx-drt-row-reverse { flex-direction: row-reverse; }
.flx-drt-column { flex-direction: column; }
.flx-drt-column-reverse { flex-direction: column-reverse; }

@include mobile {
  .flx-drt-row-mobile { flex-direction: row; }
  .flx-drt-row-reverse-mobile { flex-direction: row-reverse; }
  .flx-drt-column-mobile { flex-direction: column; }
  .flx-drt-column-reverse-mobile { flex-direction: column-reverse; }
};

@include tablet {
  .flx-drt-row-tablet { flex-direction: row; }
  .flx-drt-row-reverse-tablet { flex-direction: row-reverse; }
  .flx-drt-column-tablet { flex-direction: column; }
  .flx-drt-column-reverse-tablet { flex-direction: column-reverse; }
};

@include tablet-only {
  .flx-drt-row-tablet-only { flex-direction: row; }
  .flx-drt-row-reverse-tablet-only { flex-direction: row-reverse; }
  .flx-drt-column-tablet-only { flex-direction: column; }
  .flx-drt-column-reverse-tablet-only { flex-direction: column-reverse; }
};

@include desktop {
  .flx-drt-row-desktop { flex-direction: row; }
  .flx-drt-row-reverse-desktop { flex-direction: row-reverse; }
  .flx-drt-column-desktop { flex-direction: column; }
  .flx-drt-column-reverse-desktop { flex-direction: column-reverse; }
};

@include desktop-only {
  .flx-drt-row-desktop-only { flex-direction: row; }
  .flx-drt-row-reverse-desktop-only { flex-direction: row-reverse; }
  .flx-drt-column-desktop-only { flex-direction: column; }
  .flx-drt-column-reverse-desktop-only { flex-direction: column-reverse; }
};

@include widescreen {
  .flx-drt-row-widescreen { flex-direction: row; }
  .flx-drt-row-reverse-widescreen { flex-direction: row-reverse; }
  .flx-drt-column-widescreen { flex-direction: column; }
  .flx-drt-column-reverse-widescreen { flex-direction: column-reverse; }
};