.flx-1 { flex: 1 !important; }
.flx-2 { flex: 2 !important; }
.flx-3 { flex: 3 !important; }
.flx-4 { flex: 4 !important; }
.flx-5 { flex: 5 !important; }
.flx-6 { flex: 6 !important; }
.flx-7 { flex: 7 !important; }
.flx-8 { flex: 8 !important; }
.flx-9 { flex: 9 !important; }
