@each $key, $value in $justify-align-self-value {
  .jtf-s-#{$key} { justify-self: #{$value} !important; }
};

@include mobile {
  @each $key, $value in $justify-align-self-value {
    .jtf-s-#{$key}-mobile { justify-self: #{$value} !important; }
  };
};

@include tablet {
  @each $key, $value in $justify-align-self-value {
    .jtf-s-#{$key}-tablet { justify-self: #{$value} !important; }
  };
};

@include tablet-only {
  @each $key, $value in $justify-align-self-value {
    .jtf-s-#{$key}-tablet-only { justify-self: #{$value} !important; }
  };
};

@include desktop {
  @each $key, $value in $justify-align-self-value {
    .jtf-s-#{$key}-desktop { justify-self: #{$value} !important; }
  };
};
