@each $key, $value in $line-height-value {
  .l-h-#{$key} { line-height: #{$value} !important; }
};

@include mobile {
  @each $key, $value in $line-height-value {
    .l-h-#{$key}-mobile { line-height: #{$value} !important; }
  };
};

@include tablet {
  @each $key, $value in $line-height-value {
    .l-h-#{$key}-tablet { line-height: #{$value} !important; }
  };
};

@include tablet-only {
  @each $key, $value in $line-height-value {
    .l-h-#{$key}-tablet-only { line-height: #{$value} !important; }
  };
};

@include desktop {
  @each $key, $value in $line-height-value {
    .l-h-#{$key}-desktop { line-height: #{$value} !important; }
  };
};
