.opct-100 { opacity: 1 !important; }
.opct-90  { opacity: .9 !important; }
.opct-80  { opacity: .8 !important; }
.opct-70  { opacity: .7 !important; }
.opct-60  { opacity: .6 !important; }
.opct-50  { opacity: .5 !important; }
.opct-40  { opacity: .4 !important; }
.opct-30  { opacity: .3 !important; }
.opct-20  { opacity: .2 !important; }
.opct-10  { opacity: .1 !important; }
.opct-0   { opacity: 0;  }