.t-tf-capitalize {text-transform: capitalize !important; }
.t-tf-lowercase {text-transform: lowercase !important; }
.t-tf-uppercase {text-transform: uppercase !important; }
.t-tf-none {text-transform: none !important; }

@include mobile {
  .t-tf-capitalize-mobile {text-transform: capitalize !important; }
  .t-tf-lowercase-mobile {text-transform: lowercase !important; }
  .t-tf-uppercase-mobile {text-transform: uppercase !important; }
  .t-tf-none-mobile {text-transform: none !important; }
};

@include tablet {
  .t-tf-capitalize-tablet {text-transform: capitalize !important; }
  .t-tf-lowercase-tablet {text-transform: lowercase !important; }
  .t-tf-uppercase-tablet {text-transform: uppercase !important; }
  .t-tf-none-tablet {text-transform: none !important; }
};

@include tablet-only {
  .t-tf-capitalize-tablet-only {text-transform: capitalize !important; }
  .t-tf-lowercase-tablet-only {text-transform: lowercase !important; }
  .t-tf-uppercase-tablet-only {text-transform: uppercase !important; }
  .t-tf-none-tablet-only {text-transform: none !important; }
};

@include desktop {
  .t-tf-capitalize-desktop {text-transform: capitalize !important; }
  .t-tf-lowercase-desktop {text-transform: lowercase !important; }
  .t-tf-uppercase-desktop {text-transform: uppercase !important; }
  .t-tf-none-desktop {text-transform: none !important; }
};

@include desktop-only {
  .t-tf-capitalize-desktop-only {text-transform: capitalize !important; }
  .t-tf-lowercase-desktop-only {text-transform: lowercase !important; }
  .t-tf-uppercase-desktop-only {text-transform: uppercase !important; }
  .t-tf-none-desktop-only {text-transform: none !important; }
};

@include widescreen {
  .t-tf-capitalize-widescreen {text-transform: capitalize !important; }
  .t-tf-lowercase-widescreen {text-transform: lowercase !important; }
  .t-tf-uppercase-widescreen {text-transform: uppercase !important; }
  .t-tf-none-widescreen {text-transform: none !important; }
};