.t-al-left   { text-align: left !important; }
.t-al-right   { text-align: right !important; }
.t-al-center  { text-align: center !important; }
.t-al-justify { text-align: justify !important; }

@include mobile {
  .t-al-left-mobile { text-align: left !important; }
  .t-al-right-mobile { text-align: right !important; }
  .t-al-center-mobile { text-align: center !important; }
  .t-al-justify-mobile { text-align: justify !important; }
};

@include tablet {
  .t-al-left-tablet { text-align: left !important; }
  .t-al-right-tablet { text-align: right !important; }
  .t-al-center-tablet { text-align: center !important; }
  .t-al-justify-tablet { text-align: justify !important; }
};

@include tablet-only {
  .t-al-left-tablet-only { text-align: left !important; }
  .t-al-right-tablet-only { text-align: right !important; }
  .t-al-center-tablet-only { text-align: center !important; }
  .t-al-justify-tablet-only { text-align: justify !important; }
};

@include desktop {
  .t-al-left-desktop { text-align: left !important; }
  .t-al-right-desktop { text-align: right !important; }
  .t-al-center-desktop { text-align: center !important; }
  .t-al-justify-desktop { text-align: justify !important; }
};

@include desktop-only {
  .t-al-left-desktop-only { text-align: left !important; }
  .t-al-right-desktop-only { text-align: right !important; }
  .t-al-center-desktop-only { text-align: center !important; }
  .t-al-justify-desktop-only { text-align: justify !important; }
};

@include widescreen {
  .t-al-left-widescreen { text-align: left !important; }
  .t-al-right-widescreen { text-align: right !important; }
  .t-al-center-widescreen { text-align: center !important; }
  .t-al-justify-widescreen { text-align: justify !important; }
};