@import '_align-content';
@import '_align-items';
@import '_align-self';
@import '_background-color';
@import '_background-position';
@import '_background-repeat';
@import '_background-size';
@import '_border-color';
@import '_border-radius';
@import '_border-style';
@import '_border-width';
@import '_box-position';
@import '_box-size';
@import '_color';
@import '_cursor';
@import '_display';
@import '_flex-direction';
@import '_flex-wrap';
@import '_flex';
@import '_float';
@import '_font-size';
@import '_font-weight';
@import '_justify-content';
@import '_justify-items';
@import '_justify-self';
@import '_letter-spacing';
@import '_line-height';
@import '_margin';
@import '_object-fit';
@import '_opacity';
@import '_overflow';
@import '_padding';
@import '_text-align';
@import '_text-transform';
@import '_white-space';
@import '_z-index';